/* Fonts and Text */
h2, h3, h4 {
	font-family: Gill Sans,Arial,sans-serif;
}

h1 {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 3em;
}

h4 {
	font-size: 16px;
}

h4.article {
	margin-bottom: 0
}

p.article {
 	margin-top: 0
}

p, div, td, th {
	font-family: Georgia, Times New Roman, Times;
}

p {
	line-height: 1.75em;
}

hr {
	border: none;
	height: 30px;
	background-color: #333333;
	margin-top: 30px;
}

.confirm {
	color: #43a80f;
}

.error {
	color: #ed1c24;
}

.loading-message {
	font-size: 24px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	position: absolute;
	z-index: 400;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
}

#user-stats p, #footer p {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 30px;
	color: #DDDDDD;
	margin: 0;
}

a:link {
	color: #06718d;
	text-decoration: none;
}

a:hover, a:active {
	color: #61b9d0;
	text-decoration: underline;
}

a:visited {
	color: #5d8d99;
}

/* Structures */

body {
	margin: 0;
	background-color: #EEEEEE;
	font-size: 16px;
	line-height: 1.25em;
}

#preview {
	height: 250px;
	background-color: #99c1c0;
	padding: 20px;
	width: 984px;
	margin-left: -20px;
}

#preview p {
	margin: 0;
	padding: 10px 30px;
	font-size: 1.5em;
	line-height: 1.5em;
}

#infovis {
	height: 501px;
	margin: 5px 0 0 0;
	overflow: hidden;
	position: relative;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

#bar-chart {
	height: 100px;
	margin: -1px 0 0 0;
	overflow: hidden;
	position: relative;
	background-color: #333333;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #CCCCCC;
	background-image: url('/css/brainscanr/images/ui-bg_diagonals-small_15_333333_40x40.png');
}

#bar-chart-title {
	color: #FFFFFF;
	margin: 5px 0px 0px 5px;
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	line-height: 12px;
}

#tree {
	height: 700px;
	margin: 5px 0px 0px 0px;
	overflow: hidden;
	position: relative;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

#tree-control {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 1em;
	margin-top: 15px;
}

.node {
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	line-height: 1em;
}

#circular-key {
	width: 175px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 10px;
	position: absolute;
	margin: 5px 0px 0px 775px;
	z-index: 400;
	font-size: 12px;
	line-height: 20px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	cursor: move;
}

#tree-key {
	width: 175px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 10px;
	position: absolute;
	margin: 10px 0px 0px 5px;
	z-index: 400;
	font-size: 12px;
	line-height: 20px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	cursor: move;
}

.key-color {
	width: 16px;
	height: 16px;
	margin: 2px 3px 2px 0px;
	float: left;
}

.key-category {
	cursor: pointer;
}

.key-category:hover {
	text-decoration: underline;
}

.key-category-hidden {
	color: #CCCCCC;
}

.center {
	position: relative;
	width: 1024px;
	left: 50%;
	margin-left: -512px;
}

#user-bar, #footer {
	height: 40px;
	min-width: 1024px;
	background: #333333;
}

#user-bar a {
 	color: #FFFFFF;
}
 
#user-stats {
	height: 30px;
	padding: 5px 20px;
}

#logo {
	font-size: 24px;
	color: #DDDDDD;
}

a.no-under {
	text-decoration: none;
}

#content {
	background-color: #FFFFFF;
	padding: 20px;
}

#term_a {
	float: left;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 3em;
	display: block;
	margin-right: 5px;
}

#synonyms {
	margin-top: 0;
	cursor: help;
}

#search {
	height: 40px;
	margin-bottom: 25px;
	text-align: center;
}

#search-box {
	width: 300px;
	height: 40px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	font-size: 16px;
	padding: 0;
	line-height: 10px;
}

#search-button, #term-request-submit, #feedback-submit {
	height: 40px;
	padding: 2px 10px 3px 10px;
}

.tip-text {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	width: 250px;
	padding: 3px;
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

.ui-form input {
	height: 30px;
	width: 400px;
}

#recaptcha_response_field {
	height: 20px;
}

.ui-form textarea {
	width: 400px;
	height: 100px;
}

.abstract-preview {
	padding: 20px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	display: none;
}

/* Jquery UI Modifications */

#graphs div.ui-tabs-panel {
	padding: 0;
}

ul.ui-autocomplete {
	list-style-type: none;
	width: 300px;
	padding: 0;
}

li.ui-menu-item {
	padding: 3px;
	width: 294px;
}

#tree-control .ui-button-text {
	font-size: 1em;
	font-weight: normal;
}

#graphs .ui-tabs-panel {
	padding: 5px;
}

#graphs .ui-tabs-nav li a {
	padding: .25em .5em;
}

#data-table h3.ui-accordion-header a {
	font-size: 16px;		
}

div#data-table.ui-accordion p {
	font-size: 16px;		
}

div#data-table.ui-accordion p.article {
	line-height: 1.25em;
}

#publications .ui-state-default, #publications .ui-widget-content .ui-state-default {
	background: none;
	border: 1px solid #FFFFFF;
}

#publications .ui-state-active {
	border: 1px solid #a1d089;
	background-color: #c6e7b5;
}

#publications .ui-state-hover {
	background-color: #99c1c0;
	border: 1px solid #99c1c0;
}

#publications label {
	font-weight: normal;
	font-family: Georgia, Times New Roman, Times;
}

#publications .ui-button-text {
	padding: 0 .5em 0 1.25em;
}

#publications p.search-terms {
	line-height: 1.75em;
	font-size: 16px;
	margin-top: 0;
}

#publications .ui-button-text-icon-primary .ui-button-icon-primary, #publications .ui-button-text-icons .ui-button-icon-primary, #publications .ui-button-icons-only .ui-button-icon-primary {
	left: .25em;
}