{% extends "base_template.html" %}

{% block script %}
		<script language="javascript" type="text/javascript" src="/script/search.js"></script>
		<script languge="javascript">

{% if term_a.name %}

$(function() {		

	// Get circular network graph data and plot
	getCircularGraph({'request_type': 'circ_connections', 'max_results': 19, 'term_a': '{{ term_a.name|urlencode }}'}, '{{ term_a.name|urlencode }}');
	getBarChart({'request_type': 'bar_data', 'max_results': 100, 'term_a': '{{ term_a.name|urlencode }}'}, '{{ term_a.name|urlencode }}');
		
	// Set up UI
	$('#graphs').tabs();
	$('#tree-control').buttonset();
	$('#circular-key, #tree-key').draggable();
	$("#data-table").accordion({collapsible: true, autoHeight: false});

	// Add click handlers to buttons
	$('#hierarchy-trigger').click(function(){
		$('#tree').show();
		if ($('#tree #tree-canvaswidget').length == 0){
			getTreeGraph({'request_type': 'tree_connections', 'max_results': 4, 'term_a': '{{ term_a.name|urlencode }}'});
		}
	});
	$('#circular-trigger').click(function(){
		$('#infovis').show();
		if ($('#infovis #infovis-canvaswidget').length == 0){
			getCircularGraph({'request_type': 'circ_connections', 'max_results': 19, 'term_a': '{{ term_a.name|urlencode }}'}, '{{ term_a.name|urlencode }}');
		}
	});

	// Set up filtering functionality
	
	categories = [];
	{% for category in categories %}
	categories.push({name: '{{ category.name }}', color: '{{ category.color }}', color_highlight: '{{ category.color_highlight }}'});
	{% endfor %}
	
	{% for category in categories %}
		{% ifnotequal category.name 'silly'%}
	$('#key-{{ category.name }}').toggle(
		function(){filterCircularGraphByCategory($(this), '{{ term_a.name|urlencode }}', false);},
		function(){filterCircularGraphByCategory($(this), '{{ term_a.name|urlencode }}', true);}
	); 
		{% endifnotequal %}
	{% endfor %}

	$('#connection_data').click(function(){
		getDataTable('{{ term_a.name|urlencode }}');
	});

	$('.pub_tag').live('click', function(){
		//find all checked terms
		var terms_b = [];
		$('.pub_tag').each(function(i, checkbox){
			if ($(checkbox).attr("checked") == true) {
				terms_b.push($(this).attr('title'));
			}
		});
		// concatenate all checked terms with comma
		terms_b = terms_b.join(',');
		
		//getpublications
		getPublications('{{ term_a.name|urlencode }}', terms_b);
	});
				
});
{% endif %}

		</script>
{% endblock %}
	

{% block content %}

{% include "search-form.html" %}
	
{% if message %}
	<div id="message">
	<p>
	{{ message}}
	</p>
	</div>
{% endif %}

{% if term_a.name %}
	<div style="min-height:30px;">
	<span id="term_a">
	{{ term_a.name }}
	</span>
	<p id="synonyms" title="Synonyms">
	{% for acronym in term_a.acronyms %}
		{{ acronym }}, 
	{% endfor %}
	{% for synonym in term_a.synonyms %}
		{{ synonym }}, 
	{% endfor %}
	</p>
	</div>

<div id="graphs">
	<ul>
		<li><a href="#circular" id="circular-trigger">Circular Graph</a></li>
		<li><a href="#hierarchy" id="hierarchy-trigger">Hierarchical Graph</a></li>
	</ul>
	<div id="circular">
	<div id="circular-key">
	<b>Click term categories to filter:</b>
	<img src="/images/star.png" alt="star" style="float:left;" width="20" height="21" /> Search Term<br />
	<span style="clear:both;display:block">
	{% for category in categories %}
		{% ifnotequal category.name 'silly'%}
		<div class="key-color" style="background-color:#{{ category.color }}"><img src="/images/circle-mask.png" alt="circle mask" width="16" height="16" /></div><span id="key-{{ category.name }}" class="key-category">{{ category.title }}</span><br />
		{% endifnotequal %}
	{% endfor %}
	</span>
	<hr style="background-color:#23A4FF;margin:10px 0 0 0;height:3px;">
	Connection to search term
	<hr style="background-color:#CCCCCC;margin:0;height:3px;">
	Connection b/t other terms<br />
	(width of line indicates strength of prob. association)
	</div>
	<div id="infovis"><span class="loading-message">Loading<img src="/images/elipse_animated.gif" width="29" height="5" style="display:inline" alt="..." /></span></div>
	<div id="bar-chart"><p id="bar-chart-title">Probable Association with Search Term</p></div>
	</div>
	<div id="hierarchy">
	<div id="tree-control">
	Tree Orientation:
	<input type="radio" id="r-left" name="orientation" checked="checked" value="left" /><label for="r-left">Left </label> 
	<input type="radio" id="r-right" name="orientation" value="right" /><label for="r-right">Right </label>
	<input type="radio" id="r-top" name="orientation" value="top" /><label for="r-top">Top </label>
	<input type="radio" id="r-bottom" name="orientation" value="bottom" /><label for="r-bottom">Bottom </label>
	</div>
	
	<div id="tree-key">
	<span style="clear:both;display:block">
	<div class="key-color" style="background-color:#ff7"></div>Search Term & Selected<br />
	{% for category in categories %}
		{% ifnotequal category.name 'silly'%}
		<div class="key-color" style="background-color:#{{ category.color }}"></div>{{ category.title }}<br />
		{% endifnotequal %}
	{% endfor %}
	</span>
	</div>

	<div id="tree"><span class="loading-message">Loading<img src="/images/elipse_animated.gif" width="29" height="5" style="display:inline" alt="..." /></span></div>
	</div>
	</div>
	
	<div id="data-table">
		<h3><a href="#">Publications for {{ term_a.name }}</a></h3>
		<div id="publications">
		<p class="search-terms">
		Show publications that include the term "{{ term_a.name }}" -- AND -- <span id="connection_terms"></span>
		</p>
		
		<div id="publication-list"></div>
		
		</div>
		<h3 id="connection_data"><a href="#">Data for {{ term_a.name }}</a></h3>
		<div id="data">
		<table cellpadding="3" cellspacing="0" style="border-collapse:collapse;border:1px solid black;" id="connection_data_table">
		</table>
		</div>
	</div>

{% endif %}

{% endblock %}
